<main class="container d-flex justify-content-center flex-column mt-5">
  <h1>Search and save TV Shows</h1>
  <p>using the free api at tvmaze.com</p>
  <div class="row">
    <div class="col-12 col-lg-6" id="search-column">
      <form class="mt-4" (ngSubmit)="onSubmit()" #f="ngForm">
        <label class="form-label" for="tv-search-input">Search TV shows based on their name.</label>
        <input id="tv-search-input" name="tv-search" class="form-control mt-2" type="search"
               placeholder="Type in a Tv show name" aria-describedby="searchHelp" ngModel required>
        <div id="searchHelp" class="form-text mt-2">You will see a maximum of 5 results/search and you can save up
        to 10 TV shows.</div>
        <button type="submit" class="btn btn-primary mt-3 mb-4" [disabled]="!f.valid">Search</button>
      </form>
    </div>
    <div class="col-12 col-lg-6">
      <p *ngIf="searchedTvShows.length > 0" class="fs-5"><button class="btn btn-danger" (click)="onClearSearchResults()">
        X</button> &nbsp;<b>Search results:</b>
      </p>
      <div id="search-results">
        <app-tv-show *ngFor="let tvShow of searchedTvShows" [tvShow]="tvShow" (saving)="tvMazeService.onSave(tvShow)"
                     [savingButtonDisabled]="!tvMazeService.isTvShowSavable(tvShow.show.id)">
        </app-tv-show>
      </div>
    </div>
  </div>
  <section id="saved-tv-shows" class="mt-5">
    <p class="fs-5"><b>Saved tv shows</b></p>
    <div class="row row-cols-1 row-cols-lg-2">
      <app-tv-show *ngFor="let tvShow of tvMazeService.savedTvShows" [tvShow]="tvShow"
                   (deletion)="tvMazeService.onDelete($event)" [savable]="false"></app-tv-show>
    </div>
  </section>
</main>

