<main class="container d-flex justify-content-center flex-column mt-5">
  <h1>Welcome to the public APIs project</h1>
  <p class="mt-4">Here you can try out various APIs with an angular app that's built by me. <br>
    Each page interacts with a different set of APIs, all of which are publicly available on the internet.
    No authentication required.</p>
  <p>Choose one of the pages from the menu above and see what they are about.</p>
  <p><b>Note:</b> The CoinGecko page only displays data, but the cryptocurrency data is fetched from coingecko.com each
    time you load the page.</p>
  <p>The third page (TvMaze) is the most complex one, and it includes searching a tv show database,
    saving specific tv shows in the localstorage, and deleting if you want to free up storage space for other shows.</p>
</main>
